# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
**/build

# Ignore temporal linux files
*~

# Ignore binary build files
**/bin

*.DS_Store
./Assignment1/